* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: white;
  font-family:"Sour Gummy", serif;
}

/* styles for navigation */
.header-container {
  display: flex;
  width: 100vw;
  height: 130px;
  padding: 40px 200px 40px 200px;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.header-container_logo {
  display: flex;
  gap: 20px;
  padding: 5px;
}

.header-container_nav {
  display: flex;
  gap: 50px;
  font-size: 18px;
}

.header-container_nav_list {
  display: flex;
  gap: 40px;
  padding-top: 10px;
}

.header-container_nav_ul_item {
  list-style: none;
}

.header-container_nav_transparent {
  border: 1px solid #173A56;
  border-radius: 4px;
  color: #173A56;
  padding: 8px 22px;
  cursor: pointer;
  font-family: "Sour Gummy", serif;
  background: transparent;
  font-weight: 600;
  font-size: 20px;
}

.header-container_nav_orange {
  border: none;
  border-radius: 4px;
  color: white;
  font-size: 18px;
  padding: 8px 22px;
  cursor: pointer;
  font-family: "Sour Gummy", serif;
  background-color: #FF9900;
  font-weight: 600;
  font-size: 20px;
}

/* styles for welcome part */
.welcome-container {
  display: flex;
  justify-content: space-evenly;
  padding: 40px 200px 40px 200px;
  flex-flow: row nowrap;
  width: 100vw;
}

.welcome-container_text {
  font-size: 25px;
  font-weight: 300;
  margin-right: 50px;
}

.welcome-container_text_title {
  font-size: 60px;
  font-weight: 700;
  padding-top: 30px;
  padding-bottom: 60px;
}

.welcome-container_text_sourses {
  display: flex;
  flex-flow: row nowrap;
  margin-top: 70px;
}

.welcome-container_text_sourses_button {
  border: none;
  border-radius: 4px;
  color: white;
  font-size: 18px;
  padding: 8px 22px;
  cursor: pointer;
  font-family: "Sour Gummy", serif;
  background-color: #FF9900;
  font-weight: 600;
  font-size: 20px;
  height: 70px;
  width: 230px;
}

.welcome-container_text_sourses_img {
  margin: 20px;
  height: 28px;
}

.welcome-container_text_sourses_link {
  color: #FF9900;
  font-weight: 600;
  font-size: 22px;
  padding-top: 18px;
}

/* section with columns */
.tools {
  margin: 70px 200px 0 200px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.tools_title {
  font-size: 50px;
  font-weight: 700;
  height: 100px;
  width: 700px;
  text-align: center;
  margin-bottom: 40px;
}

.tools_table {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  font-size: 20px;
  gap: 40px;
  height: 400px;
  padding-top: 60px;
  padding-bottom: 30px;
}

.tools_table_column {
  flex-basis: 400px;
  text-align: start;
}

.tools_table_column_title {
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 25px;
}

.tools_button {
  border: none;
  border-radius: 4px;
  color: white;
  font-size: 18px;
  padding: 8px 22px;
  cursor: pointer;
  font-family: "Sour Gummy", serif;
  background-color: #FF9900;
  font-weight: 600;
  font-size: 20px;
  height: 70px;
  width: 230px;
}

/* designers section */
.designers {
  display: flex;
  justify-content: space-around;
  margin: 160px 200px 60px 200px;
}

.designers_info_title {
  font-size: 50px;
  font-weight: 700;
}

.designers_info {
  margin-right: 40px;
}

.designers_info_text {
  margin-bottom: 30px;
  margin-top: 20px;
  font-size: 20px;
}

/* product manager part */
.product-managers {
  display: flex;
  justify-content: space-around;
  margin: 80px 200px 80px 200px;
  font-size: 20px;
}

.product-managers_info_text {
  font-size: 50px;
  font-weight: 700;
  margin-bottom: 30px;
  margin-top: 20px;
}

.product-managers_info {
  margin-left: 40px;
}

.product-managers_info_list_item {
  display: flex;
  margin-bottom: 30px;
  margin-top: 20px;
}

.product-managers_info_list_item_img {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

/* marketers section */
.marketers {
  display: flex;
  justify-content: space-around;
  margin: 60px 200px 60px 200px;
}

.marketers_info {
  margin-right: 40px;
}

.marketers_info_title {
  font-size: 50px;
  font-weight: 700;
}

.marketers_info_text {
  margin-bottom: 30px;
  margin-top: 20px;
  font-size: 20px;
}

/* footer */
.footer {
  margin: 60px 200px 60px 200px;
}

.footer_info {
  display: flex;
  justify-content: space-between;
}

.footer_info_logo {
  margin-top: 100px;
}

.footer_info_list, .footer_info_data {
  padding-top: 100px;
}

.footer_info_data {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: flex-start;
}

.footer_info_data_input {
  border: 1px solid #BCD0E5;
  width: 325px;
  height: 40px;
}

.footer_info_data_button {
  border: none;
  border-radius: 4px;
  color: white;
  font-size: 18px;
  padding: 8px 22px;
  cursor: pointer;
  font-family: "Sour Gummy", serif;
  background-color: #FF9900;
  font-weight: 600;
  font-size: 20px;
  height: 45px;
  width: 180px;
}


