* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: white;
    font-family: "Poppins", serif;
}
/* styles for navigation */

.header_container {
    display: flex;
    width: 100vw;
    height: 130px;
    padding: 40px 200px 40px 200px;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.logo {
    display: flex;
    gap: 20px;
    padding: 5px;
}

.nav {
    display: flex;
    gap: 50px;
    font-size: 18px;
    }

nav ul {
    display: flex;
    gap: 40px;
    padding-top: 10px; 
 } 

li {
    list-style: none;
}

.transparent {
    border: 1px solid #173A56;
    border-radius: 4px;
    color: #173A56;
    padding: 8px 22px;
    cursor: pointer;
    font-family: "Poppins", serif;
    background: transparent;
    font-weight: 600;
    font-size: 20px
}



.orange {
    border: none;
    border-radius: 4px;
    color: white;
    font-size: 18px;
    padding: 8px 22px;
    cursor: pointer;
    font-family: "Poppins", serif;
    background-color: #FF9900;
    font-weight: 600;
    font-size: 20px;
}

.main_button {
    height: 70px;
    width: 230px;
}

/* styles for welcome part */
.welcome_container {
    display: flex;
    justify-content: space-evenly;
    padding: 40px 200px 40px 200px;
    flex-flow: row nowrap;
    width: 100vw;    
}

.welcome_text {
    font-size: 25px;
    font-weight: 300;
    margin-right: 50px;
}

h1 {
    font-size: 60px;
    font-weight: 700;
    padding-top: 30px;
    padding-bottom: 60px;
}

.link_and_button {
    display: flex;
    flex-flow: row nowrap;
    margin-top: 70px;
}

.link_and_button > img {
    margin: 20px;
    height: 28px;

}

.link_and_button > a {
    color: #FF9900;
    font-weight: 600;
    font-size: 22px;
    padding-top: 18px;
}

.superpowers > img {
    padding-left: 50px;
}

/* section with columns */

.tools {
    margin: 70px 200px 0 200px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    
    
}
.tools > h2 {
    font-size: 50px;
    font-weight: 700;
    height: 100px;
    width: 700px;
    text-align: center;
    margin-bottom: 40px;
}
.column_part {
    display: flex;
    flex-flow: row nowrap;
    justify-content:space-around;
    font-size: 20px;
    gap:40px;
    height: 400px;
    padding-top: 60px;
    padding-bottom: 30px;
    
}

.column_part > div {
    flex-basis: 400px;
    text-align: start;
}

.column_part > div > h3 {
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 25px;
}

/* .tools > button {
    margin-bottom: 50px;
    height: 70px;
    width: 220px;
} */

/* designers section */

.designers {
    display: flex;
    justify-content: space-around;
    margin: 160px 200px 60px 200px;
}

.designers_text > h2 {
    font-size: 50px;
    font-weight: 700;
}

.designers_text > p {
    margin-bottom: 30px;
    margin-top: 20px;
    font-size: 20px;
}

.designers_text {
    margin-right: 40px;
}

/* product manager part */

.product_managers {
    display: flex;
    justify-content: space-around;
    margin: 80px 200px 80px 200px;
    font-size: 20px;
}

.product_managers_text > h2 {
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 30px;
    margin-top: 20px;
}

.product_managers_text {
    margin-left: 40px;
}

/* .done::before {
    content: url(/image/icon_done.png);
} */

/* .product_managers_text > ul >li {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
} */

.list {
    display: flex;
    margin-bottom: 30px;
    margin-top: 20px;
}

.list > img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

/* marketers section */
    
.marketers {
    display: flex;
    justify-content: space-around;
    margin: 60px 200px 60px 200px;
}

.marketers_text > h2 {
    font-size: 50px;
    font-weight: 700;
}

.marketers_text > p {
    margin-bottom: 30px;
    margin-top: 20px;
    font-size: 20px;
}

.marketers_text {
    margin-right: 40px;
}

/* footer */
footer {
   margin: 60px 200px 60px 200px;
}

hr {
    margin-bottom: 100px;
}

.info {
    display: flex;
    justify-content: space-between;
}

.first_list_footer, .second_list_footer, .sing_up {
    padding-top: 100px;
}

.sing_up {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: flex-start;
}

input[type="email"] {
    border: 1px solid #BCD0E5;
    width: 325px;
    height: 40px;
}