* {
  padding: 0px;
  margin: 0px;
}

/* welcome page styles */

.welcome_page_image { 
background-image: url('./images/m.jpg');
background-position: center;
background-repeat: no-repeat;
background-attachment:fixed;
background-size: cover;
height: 100vh;
width: 100%;
display: flex;
} 

.welcome_page_image_overlay {
height: 100vh;
width: 100%;
background-color: rgba(80, 60, 60, 0.5);
}

.welcome_text {
  font-family: "Permanent Marker", serif;
  font-weight: 400;
  font-style: normal;
  padding-top: 300px; 
  font-size: 40px;
  color: #503C3C;
  width: 50%;
  text-align: center;
}

.welcome_page ul{
   list-style-type: none;
   background-color: #3E3232;
   padding: 0px;
   margin: 0px; 
   overflow: hidden;
}

.welcome_page a {
    color: white;
    text-decoration: none;
    padding: 10px;
    display: block;
    text-align: center;
    font-family: "Permanent Marker", serif;
    font-weight: 100;
}

.welcome_page li {
float: right;
}

.welcome_page a:hover {
    background-color: #2c2424;
}

.welcome_page p {
  font-family: "Permanent Marker", serif;
  font-weight: 400;
  font-style: normal;
  color: #503C3C;
  font-size: 30px;
  width: 50%;
  text-align: center;
}

/* experience background style */

.info_img {
background-image: url('./images/mo.avif');
background-position: center;
background-repeat: no-repeat;
background-attachment:fixed;
background-size: cover;
height: 210vh;
width: 100%;
display: flex;
}

.info_background_overlay {
height: 210vh;
width: 100%;
background-color: rgba(168, 124, 124, 0.2);
}

/* .div_container {
display: flex;
column-gap: 40px;
height: 100vh; 
} */

/* experience style */

.experience_info {
/* border: 1px, solid, #503C3C; */
width: 100%;
}

.experience_info h2 {
  text-align: center;
  font-family: "Permanent Marker", serif;
  font-weight: 100;
  font-size: 60px;
  margin-top: 40px;
  color:#503C3C;
  padding-top: 20px;
}

.experience_info h3 {
  text-align: center;
  font-family: "Permanent Marker", serif;
  font-weight: 100;
  font-size: 40px;
  margin-top: 40px;
  color: #7E6363;
}

.experience_info h4 {
  text-align: left;
  font-family: "Permanent Marker", serif;
  font-weight: 100;
  font-size: 20px;
  margin-top: 40px;
  color: #503C3C;
  padding-left: 20px;
}

.experience_info p {
text-align: right;
padding-right: 20px;
padding-top: 20px;
font-family: "Permanent Marker", serif;
font-size: 20px;
color: #7E6363;
padding-top: 20px;
}

.experience_info ul {
list-style-type: none;
}

.experience_info li {
color: #7E6363;
text-decoration: none;
padding-left: 40px;
padding-top: 20px;
/* display: block; */
text-align: left;
font-family: "Permanent Marker", serif;
font-size: 20px;
}

/* courses style */

.courses_info {
/* border: 1px, solid, #503C3C; */
width: 100%;
} 

.courses_info h2 {
  text-align: center;
  font-family: "Permanent Marker", serif;
  font-weight: 100;
  font-size: 60px;
  margin-top: 40px;
  color:#503C3C;
  padding-top: 20px;
}

.courses_info h3 {
  text-align: center;
  font-family: "Permanent Marker", serif;
  font-weight: 100;
  font-size: 40px;
  margin-top: 40px;
  color:#3E3232;
  background-color: #A87C7C;
}

.courses_info h4 {
text-align: center;
font-family: "Permanent Marker", serif;
font-weight: 100;
font-size: 30px;
margin-top: 40px;
color: #503C3C;
padding-left: 20px;
}

.courses_info ul {
  list-style-type: none;
}

.courses_info li {
color: #7E6363;
text-decoration: none;
padding-top: 20px;
text-align: center;
font-family: "Permanent Marker", serif;
font-size: 20px;
}

/* contact info style */

.contact_info {
  background-color: #3E3232;
}

.contact_info h2 {
  text-align: center;
  font-family: "Permanent Marker", serif;
  font-weight: 100;
  font-size: 60px;
  color:#A87C7C;
  padding-top: 20px;
}

.contact_info a {
  color: white;
  text-decoration: none;
  padding: 10px;
  display: block;
  text-align: center;
  font-family: "Permanent Marker", serif;
  font-weight: 100;
}
