.welcome_page_image { 
background-image: url('./images/m.jpg');
background-position: center;
background-repeat: no-repeat;
background-attachment:fixed;
background-size: cover;
height: 100vh;
width: 100%;
display: flex;
} 

.welcome_page_image_overlay {
height: 100vh;
width: 100%;
background-color: rgba(80, 60, 60, 0.7);
}


.welcome_text {
  font-family: "Permanent Marker", serif;
  font-weight: 400;
  font-style: normal;
  padding-top: 300px; 
  font-size: 40px;
  color: #3E3232;
  width: 50%;
  text-align: center;
}

.welcome_page ul{
   list-style-type: none;
   background-color: #3E3232;
   padding: 0px;
   margin: 0px; 
   overflow: hidden;
}

.welcome_page a {
    color: white;
    text-decoration: none;
    padding: 10px;
    display: block;
    text-align: center;
    font-family: "Permanent Marker", serif;
    font-weight: 100;
}

.welcome_page li {
float: right;
}

.welcome_page a:hover {
    background-color: #2c2424;
}

.welcome_page p {
  font-family: "Permanent Marker", serif;
  font-weight: 400;
  font-style: normal;
  color: #3E3232;
  font-size: 30px;
  width: 50%;
  text-align: center;
}
