.header__nav-link {
  font-family: "Ubuntu", serif;
  font-size: clamp(1.75rem, 2vw + 0.75rem, 2.25rem);
  font-weight: 300;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: min(5em, 8%);
  font-family: "Rubik", serif;
}

#sidebar {
  display: none;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 2rem;
}
.header__nav {
  align-items: center;
}
.header__nav-list {
  display: flex;
  gap: 3rem;
}
.header__nav-item {
  list-style: none;
}
.header__nav-link {
  text-decoration: none;
  color: #000000;
}
.header__nav-close, .header__nav-open {
  display: none;
}

@media (max-width: 769px) {
  .header {
    position: relative;
  }
  .header__nav {
    position: fixed;
    top: 0;
    right: -100%;
    width: 65vw;
    height: 100vh;
    background-color: #333333;
    z-index: 10;
    display: flex;
    align-items: flex-start;
    padding: 2rem;
    transition: right 0.75s ease-out;
  }
  .header__nav-list {
    flex-direction: column;
    width: 100%;
    gap: 2rem;
    padding: 1rem;
  }
  .header__nav-link {
    color: #FFFFFF;
  }
  .header__nav-close {
    display: block;
    position: absolute;
    top: 2rem;
    right: 2rem;
    cursor: pointer;
  }
  .header .header__nav-open {
    display: block;
    position: absolute;
    right: 1rem;
    cursor: pointer;
  }
  .header__logo {
    content: url("./images/svg/logo_small.svg");
  }
}
#sidebar:checked ~ .header__nav {
  right: 0;
}

#sidebar:checked ~ .header__nav-open {
  display: none;
}

.main {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: flex-start;
  gap: 5rem;
  padding-top: 5rem;
}
.main__content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.main__content-img {
  height: 39px;
  width: 147px;
}
.main__content-title {
  font-size: clamp(3.375rem, 3vw + 1rem, 4rem);
  font-weight: 400;
}
.main__content-description {
  font-size: clamp(1.75rem, 2vw + 0.75rem, 2.25rem);
  font-weight: 400;
}
.main__content-bio {
  font-size: clamp(1.125rem, 1vw + 0.5rem, 1.25rem);
  font-weight: 400;
}

@media (max-width: 769px) {
  .main {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
  }
}
.scroll {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  padding-top: 3rem;
}
.scroll__links {
  grid-column: 1;
  justify-self: start;
  display: flex;
  gap: 2rem;
}
.scroll__btn {
  grid-column: 2;
  justify-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: clamp(0.875rem, 1vw + 0.5rem, 1rem);
}

@media (max-width: 769px) {
  .scroll {
    display: flex;
    justify-content: center;
    gap: 2rem;
  }
  .scroll__btn {
    display: none;
  }
}
.video {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10rem;
  padding-bottom: 5rem;
  gap: 2rem;
}
.video__text {
  font-size: clamp(1.5rem, 1.5vw + 0.75rem, 1.75rem);
  font-weight: 400;
}
.video__container {
  width: 1262px;
  height: 710px;
}

@media (max-width: 769px) {
  .video__container {
    width: 728px;
    height: 546px;
  }
}
@media (max-width: 320px) {
  .video__container {
    width: 288px;
    height: 162px;
  }
}
.skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5rem 0;
  gap: 3rem;
}
.skills__title {
  font-size: clamp(2.875rem, 2.5vw + 1rem, 3.375rem);
  font-weight: 500;
}
.skills__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5rem;
}
.skills__item {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 380px;
  height: 400px;
  padding: 80px 40px;
  gap: 2rem;
  background-color: #D6D6D6;
}
.skills__item-title {
  font-size: clamp(2.25rem, 2.5vw + 1rem, 2.875rem);
  font-weight: 400;
}
.skills__item-text {
  font-size: clamp(0.875rem, 1vw + 0.5rem, 1rem);
  font-weight: 400;
}
.skills__item-action {
  display: flex;
  justify-content: space-between;
  padding-top: 2rem;
}
.skills__item-more {
  font-size: clamp(0.875rem, 1vw + 0.5rem, 1rem);
  font-weight: 600;
}
.skills__item:first-child {
  background-color: #333333;
  color: #FFFFFF;
}

@media (max-width: 769px) {
  .skills__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
  }
  .skills__item {
    width: 95vw;
  }
}

/*# sourceMappingURL=output.css.map */
