// Color variations
$black: #000000;
$dark-grey: #333333;
$light-grey: #D6D6D6;
$white: #FFFFFF;

// Font families
$font-primary: "Rubik", serif;
$font-secondary:"Ubuntu", serif;

// Font sizes
$font-size-xs: 0.875rem; // 14px
$font-size-sm: 1.25rem; // 20px
$font-size-md: 2.5rem;  // 40px
$font-size-lg: 3.375rem; // 54px
$font-size-xl: 4.625rem;  // 74px

// Additional Font Sizes
$font-size-2xl: 1.125rem; // 18px
$font-size-3xl: 1.5rem;  // 24px
$font-size-4xl: 1.75rem; // 28px
$font-size-5xl: 2.25rem; // 36px
$font-size-6xl: 2.875rem; // 46px
$font-size-7xl: 4rem;  // 64px

// Font weights
$font-weight-thin: 300;       // Thin
$font-weight-normal: 400;     // Normal
$font-weight-medium: 500;      // Medium
$font-weight-semibold: 600;    // Semi-Bold
$font-weight-bold: 700;        // Bold

%text {
  font-family: $font-secondary;
  font-size: 22px;
  font-weight: 300;
}

// Global settings

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding-left: 2rem;
  padding-right: 2rem;
  font-family: $font-primary;
}

// Hide the checkbox
#sidebar {
  display: none;
}

// Default navigation styles
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 2rem;
  &__nav {
    align-items: center;
    &-list {
      display: flex;
      gap: 3rem;
    }
    &-item {
      list-style: none;
    }
    &-link {
      text-decoration: none;
      @extend %text;
      color: $black;
    }
    &-close, &-open {
      display: none; // Visible in tablet and mobile versions only
    }
  }
}

// Styles for tablet and mobile versions
@media (max-width: 768px) {
  .header {
    position: relative;
    &__nav {
      position: fixed;  // Navbar stays even if page is scrolled
      top: 0;
      right: -100%; // Hides the sidebar
      width: 65vw;
      height: 100vh;
      background-color: $dark-grey;
      z-index: 10;
      display: flex;
      align-items: flex-start;
      padding: 2rem;
      transition: right 0.75s ease-out;
      &-list {
        flex-direction: column;
        width: 100%;
        gap: 2rem;
        padding: 1rem;
      }
      &-link {
        color: $white;
      }
      &-close {
        display: block;
        position: absolute;
        top: 2rem;
        right: 2rem;
        cursor: pointer;
      }
    }
    // Show the menu icon
    .header__nav-open {
      display: block;
      position: absolute;
      right: 3rem;
      cursor: pointer;
    }
    &__logo {
      content: url("./images/svg/logo_small.svg");
    }
  }
}

// Checkbox checked - moves sidebar into view
 #sidebar:checked ~ .header__nav {
    right: 0;
 }

//  Hides open button when sidebar is visible
 #sidebar:checked ~ .header__nav-open {
    display: none;
 }

// Main section styles

.main {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: flex-start;
  gap: 5rem;
  padding-top: 5rem;
  &__content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    &-img {
      height: 39px;
      width: 147px;
    }
    &-title {
      font-size: $font-size-xl;
      font-weight: $font-weight-normal;
    }
    &-description {
      font-size: $font-size-md;
      font-weight: $font-weight-normal;
    }
    &-bio {
      font-size: $font-size-3xl;
      font-weight: $font-weight-normal;
    }
  }
}

@media (max-width: 768px) {
  .main {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
  }
}
