// Color variations
$black: #000000;
$dark-grey: #333333;
$light-grey: #D6D6D6;
$white: #FFFFFF;

// Font families
$font-primary: "Rubik", serif;
$font-secondary:"Ubuntu", serif;

// Responsive font sizes - Decreasing for smaller screen sizes
$font-size-2x1: clamp(0.875rem, calc(1vw + 0.5rem), 1rem);      // 14px → 18px
$font-size-xs: clamp(1rem, calc(1.2vw + 0.5rem), 1.125rem);    // 18px → 20px
$font-size-3xl: clamp(1.125rem, calc(1vw + 0.5rem), 1.25rem);  // 20px → 24px
$font-size-sm: clamp(1.25rem, calc(1.5vw + 0.5rem), 1.5rem);  // 24px → 28px
$font-size-4xl: clamp(1.5rem, calc(1.5vw + 0.75rem), 1.75rem); // 28px → 36px
$font-size-md: clamp(1.75rem, calc(2vw + 0.75rem), 2.25rem);  // 36px → 40px
$font-size-5x1: clamp(2rem, calc(2vw + 1rem), 2.5rem);          // 40px → 46px
$font-size-lg: clamp(2.25rem, calc(2.5vw + 1rem), 2.875rem);  // 46px → 54px
$font-size-6x1: clamp(2.875rem, calc(2.5vw + 1rem), 3.375rem);  // 54px → 64px
$font-size-xl: clamp(3.375rem, calc(3vw + 1rem), 4rem);       // 64px → 74px

//clamp insures that the screen will have minimum, prefer and max size font
//calc will make the font scalable

// Font weights
$font-weight-thin: 300;       // Thin
$font-weight-normal: 400;     // Normal
$font-weight-medium: 500;      // Medium
$font-weight-semibold: 600;    // Semi-Bold
$font-weight-bold: 700;        // Bold

%nav-text {
  font-family: $font-secondary;
  font-size: $font-size-md;
  font-weight: $font-weight-thin;
}

// Global settings

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: min(5em, 8%);
  // This will calculate which of this values is smaller, and the padding will be smaller as the screen gets smaller
  font-family: $font-primary;
}

// Hide the checkbox
#sidebar {
  display: none;
}

// Default navigation styles
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 2rem;
  &__nav {
    align-items: center;
    &-list {
      display: flex;
      gap: 3rem;
    }
    &-item {
      list-style: none;
    }
    &-link {
      text-decoration: none;
      @extend %nav-text;
      color: $black;
    }
    &-close, &-open {
      display: none; // Visible in tablet and mobile versions only
    }
  }
}

// Styles for tablet and mobile versions
@media (max-width: 769px) {
  .header {
    position: relative;
    &__nav {
      position: fixed;  // Navbar stays even if page is scrolled
      top: 0;
      right: -100%; // Hides the sidebar
      width: 65vw;
      height: 100vh;
      background-color: $dark-grey;
      z-index: 10;
      display: flex;
      align-items: flex-start;
      padding: 2rem;
      transition: right 0.75s ease-out;
      &-list {
        flex-direction: column;
        width: 100%;
        gap: 2rem;
        padding: 1rem;
      }
      &-link {
        color: $white;
      }
      &-close {
        display: block;
        position: absolute;
        top: 2rem;
        right: 2rem;
        cursor: pointer;
      }
    }
    // Show the menu icon
    .header__nav-open {
      display: block;
      position: absolute;
      right: 1rem;
      cursor: pointer;
    }
    &__logo {
      content: url("./images/svg/logo_small.svg");
    }
  }
}

// Checkbox checked - moves sidebar into view
 #sidebar:checked ~ .header__nav {
    right: 0;
 }

//  Hides open button when sidebar is visible
 #sidebar:checked ~ .header__nav-open {
    display: none;
 }

// Main section styles

.main {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: flex-start;
  gap: 5rem;
  padding-top: 5rem;
  &__content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    &-img {
      height: 39px;
      width: 147px;
    }
    &-title {
      font-size: $font-size-xl;
      font-weight: $font-weight-normal;
    }
    &-description {
      font-size: $font-size-md;
      font-weight: $font-weight-normal;
    }
    &-bio {
      font-size: $font-size-3xl;
      font-weight: $font-weight-normal;
    }
  }
}

@media (max-width: 769px) {
  .main {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
  }
}

// Scroll bar styles

.scroll {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  padding-top: 3rem;
  &__links {
    grid-column: 1;
    justify-self: start;
    display: flex;
    gap: 2rem;
  }
  &__btn {
    grid-column: 2;
    justify-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: $font-size-2x1;
  }
}
//Makes scroll bar disappear and changes links container
@media (max-width: 769px) {
  .scroll {
    display: flex;
    justify-content: center;
    gap: 2rem;
    &__btn {
      display: none;
    }
  }
}

// Video section styles
.video {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10rem;
  padding-bottom: 5rem;
  gap: 2rem;
  &__text {
    font-size: $font-size-4xl;
    font-weight: $font-weight-normal;
  }
  &__container {
    width: 1262px;
    height: 710px;
  }
}

//Video changes size on different screen sizes but I used aspect ratio calculator so it to look good on dif devices
@media (max-width: 769px) {
  .video__container {
    width: 728px;
    height: 546px;
  }
}

@media (max-width: 320px) {
  .video__container {
    width: 288px;
    height: 162px;
  }
}

// Skills section styles
.skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5rem 0;
  gap: 3rem;
  &__title {
    font-size: $font-size-6x1;
    font-weight: $font-weight-medium;
  }
  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5rem;
  }
  &__item {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 380px;
    height: 400px;
    padding: 80px 40px;
    gap: 2rem;
    background-color: $light-grey;
    &-title {
      font-size: $font-size-lg;
      font-weight: $font-weight-normal;
    }
    &-text {
      font-size: $font-size-2x1;
      font-weight: $font-weight-normal;
    }
    &-action {
      display: flex;
      justify-content: space-between;
      padding-top: 2rem;
    }
    &-more {
      font-size: $font-size-2x1;
      font-weight: $font-weight-semibold;
    }
  }
  &__item:first-child {
    background-color: $dark-grey;
    color: $white;
  }
}

@media (max-width: 769px) {
  .skills__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
  }

  .skills__item {
    width: 95vw;
  }
}










































