//extensions

%button {
    border: none;
    color: white;
    text-align: center;
    padding: 25px 50px;
    height: 80px;
    width: 400px;
    font-size: 18px;
    font-weight: 600;
    font-family: regular-font;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 20px 0px 40px rgba(124, 122, 122, 0.5);
  }

//font settings

%regular-text {
    color: #13253A;
    font-family: regular-font;
    font-size: 19px;
    line-height: 1.8;
}  

%bold-text {
    font-family: bold-font;
    font-size: 56px;
    color: #13253A;
}  

%nav-text {
    color: #13253A;
    font-family: regular-font;
    font-weight: 700;
    font-size: 16px;
}

%blue-text {
    color: #2557AB;
    font-family: regular-font;
    font-size: 18px;
    font-weight: 600;
}  

%italic-text {
    font-family: italic-font;
    color: #13253A;
    font-size: 19px;
    line-height: 1.8;
}

@font-face {
    font-family: regular-font;
    src: url(./static/Montserrat-Regular.ttf);
}  

@font-face {
    font-family: bold-font;
    src: url(./static/Montserrat-ExtraBold.ttf);
}

@font-face {
    font-family: italic-font;
    src: url(./static/Montserrat-Italic.ttf);
} 

//mixins

@mixin flex_row {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
}

@mixin flex_column {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    gap: 20px;
    padding-top: 60px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navigation {
    @include flex_row();
    padding: 50px 0 150px 0;
    background-color: #DCE2E6;
    &_list {
        @include flex_row();
        gap: 60px;
        &_item {
            list-style: none;
            @extend %nav-text;
        }
    }
}

.welcome {
    //height: 740px;
    @include flex_row();
    background-color: #DCE2E6;
    padding-bottom: 200px;
    &_content {
        @include flex_column();
        align-items: flex-start;
        &_text:first-child {
            @extend %blue-text;
        }
        &_text:nth-child(2) {
            @extend %bold-text;
        }
        &_text:nth-child(3) {
            @extend %regular-text;
        }  
    }      
}

.orange {
    @extend %button;
    background-color: #FF7F57;
    box-shadow: 20px 0px 50px rgba(124, 122, 122, 0.5);
}

.blue {
    @extend %button;
    background-color: #2557AB;
    box-shadow: 0px 20px 40px rgba(32, 32, 32, 0.5);
}

.orange:hover, .blue:hover, .orange:focus, .blue:focus, .orange:active, .blue:active {
    box-shadow: 20px 20px 50px rgba(15, 14, 14, 0.5);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.agency {
    height: 500px;
    margin-top: 150px;
    text-align: center;
    &_text {
        @extend %blue-text;
    }
    &_header {
        @extend %regular-text;
        font-size: 40px;
        font-weight: 500;
    }
    &_content {
        @include flex_row();
        justify-content: center;
        gap: 40px;
        &_column {
            @include flex_column();
            align-items: center;
            gap: 20px;
            & > p:nth-child(2)  {
            @extend %bold-text;
            font-size: 22px;
            color: #3B4D6C;
            }
            & > p:nth-child(3) {
            @extend %regular-text;
            }
            & >img {
                height: 64px;
                width: 64px;
            }
        } 
    }
}

.numbers_content {
    @include flex_row();
    align-items: center;
    background-color: #DCE2E6;
    height: 200px;
    &_column {
        text-align: center;
        &_item:first-child {
            font-size: 50px;
            @extend %regular-text;
            &::after {
                 content:"+";
                 color: #FF7F57;
            }
        }
        &_item:nth-child(2) {
            @extend %blue-text;
        }
    }
}

.about {
    //height: 700px;
    @include flex_column();
    align-items: center;
    gap: 20px;
    &_header:first-child{
        @extend %blue-text;
    }
    &_header:nth-child(2){
        @extend %bold-text;
    }
    &_content {
        @include flex_row();
        gap: 40px;
        @extend %regular-text;
        &_text {
            padding: 30px 100px 30px 100px;
            &_item:first-of-type {
                @extend %italic-text;
            } 
        }
    }
     &_img {
         display: flex;
         gap: 150px;
         margin: 30px 0 80px 0;
     }
}

hr {
    width: 80%;
    color: #DCE2E6;
    margin: 0 auto; 
}

.relax {
    @include flex_row();
    padding: 150px 0 100px 0;
    &_content {
        @include flex_column();
        gap: 30px;
        &_text:first-child {
            @extend %bold-text;
            font-size: 40px;
        }
        &_text:nth-child(2) {
            @extend %regular-text;
        }
        &_text:nth-child(3), &_text:nth-child(4), &_text:nth-child(5) {
            @extend %regular-text;
            font-weight: 600;
            font-size: 18px;
            &::before {
                content: url(./images/icon-tick.png);
                margin: 10px 20px 0 0;
            }

        }
    }
    &_img {
        transform: scale(1.5);
    }
}

.start {
    background-color: #FF7F57;
    //text-align: center;
    padding: 100px 0 100px 0;
    display: grid;
    place-items: center;
    row-gap: 30px;
    &_text {
        @extend %regular-text;
        color: #FFFFFF; 
    }
    &_heading {
        @extend %bold-text;
        color: #FFFFFF;
    }
}

.contact {
    background-color: #13253A;
}